#loginLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  position: relative;
}
#loginLayout .background {
  position: absolute;
  width: 100%;
  height: 100%;
}
#loginLayout .background .bg-image {
  position: absolute;
}
#loginLayout .background .Vladimir {
  top: 7.5rem;
  left: 2.5rem;
}
#loginLayout .background .Gosa {
  top: 5rem;
  right: 22.63%;
}
#loginLayout .background .Alex {
  bottom: 5rem;
  right: 5rem;
}
#loginLayout .background .Timofey {
  bottom: 5rem;
  left: 22.63%;
}
#loginLayout .login-form {
  max-width: 408px;
  width: 100%;
  position: relative;
  z-index: 5;
  border: 1px solid #777680;
  border-radius: 24px;
  padding: 1.5rem 1.4rem;
  padding-bottom: 1.7rem;
  background-color: #fffbff;
}
#loginLayout .login-form .title {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 2rem;
}
#loginLayout .login-form .form .input-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2.2rem;
}
#loginLayout .login-form .form .input-group label .input-container {
  display: block;
  height: 3.5rem;
  position: relative;
  border-radius: 0.25rem;
  border: 1px solid #5E5B79;
}
#loginLayout .login-form .form .input-group label .input-container .label {
  position: absolute;
  left: 1rem;
  top: -0.5rem;
  background-color: #fffbff;
  color: #5E5B79;
  font-weight: 500;
  font-size: 12px;
  line-height: 1rem;
  letter-spacing: 0.5px;
  z-index: 10;
}
#loginLayout .login-form .form .input-group label .input-container .label::after {
  content: "";
  position: absolute;
  left: -0.25rem;
  width: calc(100% + 0.5rem);
  height: 100%;
  background-color: #fffbff;
  z-index: -1;
}
#loginLayout .login-form .form .input-group label .input-container .input {
  height: 100%;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  background-color: inherit;
}
#loginLayout .login-form .form .input-group label .input-container .input:focus {
  outline: none;
}
#loginLayout .login-form .form .input-group label .input-container .btn-show-pass {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: calc(100% - 2.5rem);
  top: 1rem;
}
#loginLayout .login-form .form .login {
  display: flex;
  justify-content: space-between;
}
#loginLayout .login-form .form .login .button {
  max-width: 5.6rem;
  width: 100%;
  padding: 0.62rem 0;
  background-color: #4651C6;
  border-radius: 6.25rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
  color: #ffffff;
}
#loginLayout .login-form .form .login .checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2.3rem;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#loginLayout .login-form .form .login .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#loginLayout .login-form .form .login .checkbox-container input:checked ~ .checkmark {
  background-color: #4651C6;
}
#loginLayout .login-form .form .login .checkbox-container input:checked ~ .checkmark .tick {
  display: block;
}
#loginLayout .login-form .form .login .checkbox-container .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  border: 1px solid #4651C6;
  border-radius: 2px;
}
#loginLayout .login-form .form .login .checkbox-container .checkmark .tick {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=styles.css.map */